# Archivos generados por el sistema operativo
.DS_Store

# Archivos de caché
__pycache__/
*.pyc

# Entorno virtual de Python
venv/
env/

# Archivos de registro
*.log

# Archivos de configuración local
.env
